
#update_dailySheet_form .btn-default
{
background-color: #fff;
border: 1px solid #ddd;
}
#dailySheet_form .clockpicker-popover {
  z-index: 999999;
}

.border-top {
  border-top: 1px solid #CCCBCB !important;
  padding: 15px 0px 0px 0px;
  border-radius: 0px !important;
}

.border-bottom {
  border-bottom: 1px solid #CCCBCB !important;
  padding: 0px 0px 9px 0px;
  border-radius: 0px !important;
}

.modal-header .close {
  color: #000 !important;
  opacity: 1;
  outline: none;
}

.modal-header h4 {
  font-size: 20px;
  font-weight: 600;
  color: #0f243f;
}

.dataTables_length {
  display: none;
}

.dataTables_filter {
  display: none;
}

.dynamic_select {
  border: none;
}

.create_popup_section #myModal .modal-content,
#editDailySheet .modal-content,
#myReviewModal .modal-content {
  border-radius: 20px;
}

.create_popup_section #myModal .modal-header {
  border-bottom: none;
}

.input-group .form-control:first-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.create_popup_section #dailySheet_form input[type="file"] {
  z-index: -1;
  opacity: 0;
  height: 0px;
  padding: 0px;
}

.create_popup_section #dailySheet_form .delete {
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 20px !important;
  padding: 4px;
  color: #0A6783!important;
  cursor: pointer;
}

#dailySheet_form .input:-internal-autofill-selected {
  background-color: #fff;
}

.create_popup_section #dailySheet_form .panel-default,
.create_edit_popup_section #editDailySheet .panel-default {
  border-color: #CCCBCB;
}

.input-group .input-group-addon,
.input-group-btn .btn {
  border-radius: 5px !important;
  color: #0A6783;
  cursor: pointer;
  padding: 3px 8px;
}

#dailySheet_form .attachment .attachment-icon {
  float: right;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #fff;
}

#dailySheet_form .attachment .attachment-icon i {
  transform: rotate(-45deg);
}

.create_popup_section #dailySheet_form textarea {
  resize: none;
}

.create_popup_section #dailySheet_form .create_popup {
  font-size: 15px !important;
  position: relative;
  top: 1px;
}

.create_popup_section #dailySheet_form .footer-btn,
.create_edit_popup_section #editDailySheet .footer-btn,
.review_popup_section #dailySheet_review_form .feedback-btn {
  background-color: #fff;
  border-radius: 5px;
  padding: 6px 10px;
  border: 1px solid #337AB7 !important;
  color: #337AB7;
}

.create_popup_section #dailySheet_form .footer-btn3,
.create_popup_section #dailySheet_form .edit,
.create_edit_popup_section #editDailySheet .update_footer-btn3,
.create_edit_popup_section #editDailySheet .update_edit {
  background-color: #337AB7 !important;
  color: #fff !important;
  outline: none !important;
}

.create_popup_section #dailySheet_form .footer-btn2,
.create_edit_popup_section #editDailySheet .footer-btn2,
.review_popup_section #dailySheet_review_form #accept {
  margin-left: 4px;
  background-color: #337AB7 !important;
  color: #fff !important;
  outline: none !important;
}

.main_task_section,
.main-update_task_section,
.main_review_task_section {
  margin-top: 15px;
}

.create_popup_section #dailySheet_form .panel-body .main_body {
  border-radius: 5px;
  margin-bottom: 15px;
  position: relative;
}

.create_popup_section #dailySheet_form .clockpicker .input-group-addon {
  background-color: #fff;
}

.custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.custom-file-upload {
  display: block;
  width: 100%;
  font-size: 16px;
}

.feedback .custom-file-upload {
  display: inline-block;
}

.custom-file-upload label {
  display: block;
  margin-bottom: 5px;
}

.fileList {
  padding-left: 0px;
  margin-bottom: 0px;
  padding-top: 27px !important;
}

.file-upload-wrapper {
  position: relative;
}

.file-upload-input {
  width: 91%;
  color: #000;
  font-size: 14px;
  font-family: 'Arial';
  padding: .375rem .75rem;
  border: none;
  border-radius: 5px;
  box-shadow: unset;
  l background-color: #fff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  float: left;
}

.file-upload-input:hover,
.file-upload-input:focus {
  outline: none;
}

.file-upload-button {
  cursor: pointer;
  display: inline-block;
  color: #000;
  font-size: 14px;
  font-family: 'Arial';
  border: 1px solid #ced4da;
  margin-left: -1px;
  border-radius: 5px;
  background-color: #fff;
  float: left;
  outline: none;
}

.file-upload-button .material-icons-outlined,
.update_file-upload-button .material-icons-outlined {
    color: #0a6783;
    transform: rotate(45deg);
    padding: 4px 2px;
    font-size: 18px;
    font-weight: 600;
}
.feedback-material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    transform: rotate(45deg);
    font-size: 15px;
    line-height: 1;
    position: relative;
    top: 3px;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.create_popup_section #dailySheet_form .panel-default .panel-heading,
.create_edit_popup_section #editDailySheet .panel-default .panel-heading,
.review_popup_section #dailySheet_review_form .panel-default .panel-heading {
  background-color: #fff;
  color: #0A6783;
  font-weight: bold;
  font-size: 16px;
  text-transform: uppercase;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom: none;
}

.create_popup_section #dailySheet_form .panel-default .panel-heading h4,
.review_popup_section #dailySheet_review_form .panel-default .panel-heading h4 {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 10px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
}

.create_edit_popup_section #editDailySheet .panel-default .panel-heading h4 {
 
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 0px;
  margin-top: 0px;
}
#dailySheet_form .form-group label
{
  color: #000;
  font-weight:600;
  margin-bottom: 2px;
}


.create_popup_section #dailySheet_form .panel-default .panel-body .form-group label .text-danger,
.create_edit_popup_section #editDailySheet .panel-default .panel-body .form-group label .text-danger,
.review_popup_section #dailySheet_review_form .panel-default .panel-body .form-group label .text-danger {
  color: #ff0000;
}


.create_popup_section #dailySheet_form .file-upload-button {
  box-shadow: unset;
  outline: none;
  margin-top: 0px !important;
}

.feedback .feedback-text-field .sender-feedback-text-field span {
  display: : inline-block;
  margin: 30px 0px;
}

.pl0 {
  padding-left: 0px;
}

.plr0 {
  padding-left: 0px;
  padding-right: 0px;
}

.clone-panel .fileList li {
  display: inline-block;
  padding-left: 4px;
  padding-right: 7px;
  max-width: 100%;
}


/* Review Start */

.review_popup_section #dailySheet_review_form .reject-btn {
  margin-left: 10px;
}

.review_popup_section #dailySheet_review_form .review_popup {
  font-size: 15px !important;
}

.review_popup_section #dailySheet_review_form .clockpicker .input-group-addon {
  background-color: #fff;
}

.review_popup_section #dailySheet_review_form .feedback .button_section .post_btn {
  background-color: #337AB7 !important;
    padding: 6px 15px;
    border: 1px solid #337AB7;
    color: #ffffff;
    outline: none;
    font-size: 12px;
}

.review_popup_section #dailySheet_review_form .feedback .img-circle {
  height: 35px !important;
}

.review_popup_section #dailySheet_review_form .feedback .button_section .file-upload-button i {
  color: #0a6783;
    transform: rotate(45deg);
    padding: 4px 2px;
    font-size: 18px;
    font-weight: 600;
}

.review_popup_section #dailySheet_review_form .panel-body {
  padding: 0px 15px 0px 15px;
}

.review_activity .dwnload-files a {
  margin-right: 10px;
  color: #555;
  font-size: 14px;
}

.review_popup_section #dailySheet_review_form .sender-messanger-text-field {
  background-color: #c3f7e3;
  word-wrap: break-word;
}

.review_popup_section #dailySheet_review_form .sender {
  margin-left: 15px;
}

.review_popup_section #dailySheet_review_form .review_activity .file-upload-button {
  display: none;
}

.review_popup_section #dailySheet_review_form .sender-messanger-text-field::placeholder {
  color: black;
}

.review_popup_section #dailySheet_review_form .feedback .feedback-text-field span {
  margin: 5px 0px;
  display: inline-block;
}

.review_popup_section #dailySheet_review_form textarea {
  resize: none;
}


@media (max-width: 991px) {
  .file-upload-button {
    margin-top: 0px;
  }
  .file-upload-button {
    margin-top: 0px;
    outline: none;
  }

  .create_edit_popup_section .pl0 {
    padding-left: 15px !important;
  }

  .create_edit_popup_section .feedback .update_feedback_fileList{
    padding-top: 0px !important;
  }
}


/* edit section of daily sheet*/

.create_edit_popup_section input[type="file"] {
  z-index: -1;
  opacity: 0;
  height: 0px;
  padding: 0px;
}

.create_edit_popup_section .update_delete {
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 20px !important;
  padding: 4px;
  color: #0A6783!important;
  cursor: pointer;
}

.create_edit_popup_section #editDailySheet textarea {
  resize: none;
}

.create_edit_popup_section #editDailySheet .clockpicker-popover {
  z-index: 999999;
}

.create_edit_popup_section #editDailySheet .input:-internal-autofill-selected {
  background-color: #fff;
}

.create_edit_popup_section .attachment .attachment-icon {
  float: right;
  border: 1px solid grey;
  border-radius: 10px;
  background-color: #fff;
}

.create_edit_popup_section .attachment .attachment-icon i {
  transform: rotate(-45deg);
}

.create_edit_popup_section #editDailySheet .create_popup {
  font-size: 15px !important;
}


.create_edit_popup_section #editDailySheet .panel-body .main_body {
  border-radius: 5px;
  margin-bottom: 15px;
  position: relative;
}

.create_edit_popup_section #editDailySheet .has-success .input-group-addon {
  background-color: #eee;
  border: 1px solid #ccc;
}

.date_error,.feedback_error,#feedback-error {
  color: #a94442;
  font-family: 'Roboto';
  font-weight: 500 !important;
}

.create_edit_popup_section #editDailySheet .clockpicker .input-group-addon {
  background-color: #fff;
}

.create_edit_popup_section .custom-file-upload-hidden {
  display: none;
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.create_edit_popup_section .custom-file-upload {
  display: block;
  width: auto;
  font-size: 16px;
}

.create_edit_popup_section .custom-file-upload label {
  display: block;
  margin-bottom: 2px;
}

.create_edit_popup_section .update_clone-panel .update_fileList {
  padding-left: 0px;
  margin-bottom: 0px;
  padding-top: 29px;
}

.create_edit_popup_section .update_clone-panel .update_fileList li a {
  color: #555 !important;
}

.create_edit_popup_section .file-upload-wrapper {
  position: relative;
  margin-bottom: 5px;
}

.create_edit_popup_section .file-upload-input {
  width: 91%;
  color: #000;
  font-size: 14px;
  font-family: 'Arial';
  padding: .375rem .75rem;
  border: none;
  border-radius: 5px;
  box-shadow: unset;
  l background-color: #fff;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  float: left;
}

.create_edit_popup_section .file-upload-input:hover,
.file-upload-input:focus {
  outline: none;
}

.create_edit_popup_section .update_file-upload-button {
  cursor: pointer;
  display: inline-block;
  color: #000;
  font-size: 14px;
  font-family: 'Arial';
  border: 1px solid #ced4da;
  margin-left: -1px;
  border-radius: 5px;
  background-color: #fff;
  float: left;
}

.create_edit_popup_section .update_file-upload-button .material-icons {
  color: #707070;
  transform: rotate(-45deg);
  padding: 4px 2px;
  font-size: 20px;
}

.create_edit_popup_section #editDailySheet .update_file-upload-button {
  box-shadow: unset;
  outline: none;
}

.create_edit_popup_section #editDailySheet .feedback .feedback-text-field .sender-feedback-text-field span {
  display: : inline-block;
  margin: 30px 0px;
}

.create_edit_popup_section .pl0 {
  padding-left: 0px;
}

.update_clone-panel .update_fileList li {
  display: inline-block;
  padding-left: 4px;
  padding-right: 7px;
  max-width: 100%;
}

.create_edit_popup_section #editDailySheet .feedback .button_section .post_btn {
  background-color: #337AB7 !important;
  padding: 6px 15px;
  border: 1px solid #337AB7;
  margin-top: 14px;
  color: #ffffff;
  outline: none;
  font-size: 12px;
}

.create_edit_popup_section #editDailySheet .feedback .img-circle {
  height: 35px !important;
}

.create_edit_popup_section #editDailySheet.feedback .button_section .update_file-upload-button i {
  color: #707070;
  padding: 2px;
}

.create_edit_popup_section #editDailySheet .messanger-text-field {
  background: #fff;
  padding: 6px 10px;
  border-radius: 5px;
  word-break: break-word;
}

.create_edit_popup_section #editDailySheet .feedback .button_section {
  padding-top: 15px;
}

.create_edit_popup_section #editDailySheet .sender-messanger-text-field,
.review_popup_section #dailySheet_review_form .sender-messanger-text-field {
  background-color: #c3f7e3;
}

.create_edit_popup_section #editDailySheet .sender {
  margin-left: 15px;
}

.create_edit_popup_section #editDailySheet .receiver {
  float: right;
  margin-right: 15px;
}

.create_edit_popup_section #editDailySheet .review_activity .update_file-upload-button {
  display: none;
}

.create_edit_popup_section #editDailySheet .sender-messanger-text-field::placeholder {
  color: black;
}

.create_edit_popup_section #editDailySheet .feedback .feedback-text-field span {
  margin: 5px 0px;
  display: inline-block;
}

.create_edit_popup_section #editDailySheet.feedback .feedback-text-field .sender-feedback-text-field span {
  display: : inline-block;
  margin: 30px 0px;
}

.create_edit_popup_section #editDailySheet .clone-panel .update_fileList li {
  display: inline-block;
  padding-left: 4px;
  padding-right: 7px;
  max-width: 100%;
}

.create_edit_popup_section #editDailySheet .feedback-attach .update_file-upload-button {
  display: block;
  position: absolute;
  top: 14px;
  left: 95px;
  outline: none;
}

@media (max-width: 991px) {
  .create_edit_popup_section #editDailySheet .edit-attach .update_file-upload-button {
    position: absolute;
    top: 2px !important;
    left: 5px;
  }
  .create_edit_popup_section #editDailySheet .feedback-attach .update_file-upload-button {
    display: block;
    position: absolute;
    top: 12px;
    left: 89px;
    outline: none;
  }
  .create_edit_popup_section .update_file-upload-button {
    margin-top: 2px;
    margin-left: 2px;
  }
  .create_edit_popup_section .update_clone-panel .update_fileList {
    padding-left: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
  }
  .create_edit_popup_section #editDailySheet.feedback-attach .update_file-upload-button {
    top: 11px;
    left: 96px;
  }
}

.create_edit_popup_section .feedback .update_feedback_fileList {
  padding-left: 0px;
  margin-bottom: 10px;
  padding-top: 10px;
}

.create_edit_popup_section .feedback .update_feedback_fileList li {
  display: inline-block;
  padding-left: 4px;
  padding-right: 7px;
  max-width: 100%;
}

.create_edit_popup_section .feedback .update_feedback_fileList li span {
  position: relative;
  top: 0px;
}

.delete {
  border-radius: 5px;
  border: 1px solid #ced4da;
  font-size: 20px !important;
  padding: 4px;
  color: #0A6783!important;
  cursor: pointer;
}


/* end of edit section daily sheet*/


/*Create daily sheet panels css start*/


/*Header panel css start*/


.searchfilter {
  padding-top: 40px;
  display: inline-block;
  padding-bottom: 15px;
}

.refresh .searchfilter
{
  margin-left: 6px;
  
}

.searchfilter .btn-icon {
  border-radius: 0px 5px 5px 0px !important;
  color: #0f243f;
  background-color: #E9EFF6;
  border-color: #E9EFF6;
  padding: 5px 10px !important;
  /*font-size: 13px !important;*/
}

.searchfilter .btn-icon-refresh {
  border-radius: 5px;
  color: #0f243f;
  background-color: #E9EFF6;
  border-color: #E9EFF6;
  padding: 6px 8px;
  outline: none;
}

.content-main-header .total-count {
  margin-right: 0;
  float: right;
  padding: 6px 7px;
  color: #0f243f;
  background-color: #E9EFF6;
  border-color: #E9EFF6;
  border-radius: 5px;
}


/*Header panel css End*/


/*Table panel css start*/

.table_content .table_padd {
  padding: 0px;
}

.table_content .table_box_body {
  padding-left: 0px;
  padding-right: 0px;
}

.table_content input[type=checkbox] {
  width: 11px;
}

.table_content .label-success,
.table_content .label-info,
.table_content .label-danger,
.table_content .label-save-as-draft {
  border-radius: 3px;
  font-weight: 400;
  font-size: 13px;
  margin-top: 2px;
  display: inline-block;
}

.table_content .label-success {
  padding: 6px 22px;
  background-color: #5cb85c;
}

.table_content .label-danger {
  padding: 6px 24px;
}

.table_content .label-info {
  padding: 6px 20px;
  background-color: #5bc0de!important;
}

.table_content .label-save-as-draft {
  color: #fff;
  background-color: #f0ad4e;
  padding: 6px 12px;
}

.table_content .btn-info {
  padding: 4px 6px;
  font-size: 75%;
}

.content-main-header .review_body {
  margin-top: 5px;
}
.panel {
  border-radius: 15px !important;
  box-shadow: unset;
  margin-bottom: 15px !important;
}
.drop-down {
  font: bold;
}

/* my css*/
.form-control[readonly] {
  background-color: #fff;
}
.display_none {
  display: none;
}

/* my css*/
.form-control[readonly] {
  background-color: #fff;
}
.display_none {
  display: none;
}
.searchfilter .dropdown .btn:hover,
.searchfilter .open>.dropdown-toggle.btn-primary {
  background-color: #E9EFF6;
  border-color: #E9EFF6;
  color: black;
  outline: none;
}
.searchfilter .filter-btn .first_filter_icon {
  padding-right: 5px;
}
.searchfilter .dropdown-menu {
  box-shadow: 0px 0px 10px #0000001A;
  border-radius: 7px;
}
.searchfilter .dropdown-menu>li:first-child>a:hover {
  border-top-left-radius: 7px !important;
  border-top-right-radius: 7px !important;
}
.searchfilter .dropdown-menu>li:last-child>a:hover {
  border-bottom-left-radius: 7px !important;
  border-bottom-right-radius: 7px !important;
}
.searchfilter .dropdown {
  display: inline-block;
  padding-left: 10px;
}
.left_alignment {
  float: left;
}
.right_alignment {
  float: right;
}
.button_section .btn {
  background-color: #CCCBCB;
  color: #ffffff;
}
.button_section span {
  color: #337AB7;
  margin-right: 20px;
}

.add_filter {
  display: inline-block;
}
.add_filter li {
  width: 100%;
}
.dailysheet_search_filter .search_bar {
  padding-right: 0px !important;
}
.dailysheet_search_filter .dropdown_filter {
  margin-top: 25px;
}
.filter-btn {
  padding: 6px 9px !important;
  background-color: #E9EFF6 !important;
}


/*.progress
{
  margin-bottom: 0px;
 background-color: #fff;
}
  .progress-bar {
    height: 12px !important;
    width: 0%;
    font-size:12px;
    background: #337AB7;
    text-align: center;
    border-radius:20px !important;
  }*/
@media (min-width: 576px) and (max-width: 767px) {
  .dropdown_filter {
    padding-left: 4px !important;
  }
}
.Common {
  cursor: pointer;
  margin-bottom: 3px !important;
}
#dailySheet_review_form .review_file {
  padding-left: 0px;
}

.reviewer .imgs .download{
  cursor: pointer;
}

.dailysheet_search_filter_reviewer,
.dailysheet_search_filter_accepted,
.accepted_total,
.review_total {
  padding-left: 15px;
  padding-right: 15px;
}

.pr10 {
  padding-right: 3px;
}


.edit,
.update_edit {
  float: right;
  cursor: pointer;
}


#empTable_review .label-danger
{
  padding: 6px 18px;
}
.input-group .input-group-addon:active, .input-group-btn .btn:active,.file-upload-button:active,.update_file-upload-button:active,
.create_edit_popup_section #editDailySheet .btn-default:active,.create_edit_popup_section #editDailySheet .input-group-addon :active
{
      color: #fff !important;
    background-color: #0a6783;
    border-color: #0a6783;
}
.file-upload-button .material-icons-outlined:active,.update_file-upload-button .material-icons-outlined:active
,.reviewer_attach_section .material-icons-outlined:active,
.create_edit_popup_section #editDailySheet .btn-default i:active,.create_edit_popup_section #editDailySheet .input-group-addon i:active

{
  color: #fff !important;
  outline: none;
}

.create_popup_section #dailySheet_form .panel-default .panel-body .form-group .form-control:focus,
.create_edit_popup_section #editDailySheet .panel-default .panel-body .form-group .form-control:focus,
.review_popup_section #dailySheet_review_form .panel-default .panel-body .form-group .form-control:focus
 {
  border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, 0.6);

}



.create_popup_section #dailySheet_form .panel-default .panel-body .form-group .form-control,
.create_edit_popup_section #editDailySheet .panel-default .panel-body .form-group .form-control,
.review_popup_section #dailySheet_review_form .panel-default .panel-body .form-group .form-control
{
   color: #000 !important;
    font-weight: 600 !important;
}
.review_popup_section #dailySheet_review_form .panel-default .panel-body .form-group .form-control
{
  height: 19px;
}
#editDailySheet .form-group label 
{
  margin-bottom: 2px;
}
.review_popup_section #dailySheet_review_form .panel-default .panel-body label,#editDailySheet .form-group label 
{
      color: #5E5E5E;
      font-weight:500 !important;
}
#dailySheet_review_form label
{
  margin-bottom:0px; 
}
#dailySheet_review_form .form-control
{
  padding-top: 0px;
}
.name_label
{
  /*margin-left: 4px;*/
}

.glyphicon-download-alt{
  cursor: pointer !important;
}

.datepicker{
  padding: 0px !important;
}
/* 01-04-20 */

#dailySheet_review_form .form-group
{
  margin-bottom: 10px;
}
#dailySheet_review_form .panel-body .main_body:last-child
{
  padding-bottom: 9px;
}
#dailySheet_review_form #feedback
{
  height: 31px;
}
#dailySheet_review_form .new_activity_text
{
  margin: 0px 0px 10px 0px;
}
#dailySheet_review_form .button_section_post
{
  padding-top: 0px;
  margin-top: -5px;
}
.datepicker-dropdown.datepicker-orient-top:after,.datepicker-dropdown.datepicker-orient-left:before {
border: none;
  }
.review_popup_section #dailySheet_review_form .messanger-text-field {
  background: #FBFBFB;
  padding: 6px 10px;
  border-radius: 5px;
  word-wrap: break-word;
  margin-top: 15px;
}


/* Attendance*/
.attendance_section  .attendance_div
{
  background-color: orange;
  border-radius: 5px;
  height: 30px;
  width:30px;
  display: inline-block;
}
.attendance_section .attendance_name
{
  height:45px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
.pr0 {
  padding-right: 0px;
}
.attendance_section .attendance_present
{
background-color:#86CF68; 
}.attendance_section .attendance_weekly
{
background-color:#DDDDDD; 
}.attendance_section .attendance_holiday
{
background-color: #E88A20;
}.attendance_section .attendance_absent
{
background-color: #E88A20;
}.attendance_section .attendance_leave
{
background-color: #46C5E5;
}
.attendance_section .attendance_heading
{
  font-size: 17px;
  font-weight: bold;
  display: inline-block;
}
.attendance_section .attendance-count
{
  font-size: 15px;
  font-weight: bold;
 
}
 .attendance_border
{
  border-left: 1px solid #0000000D;
  padding-left: 12px;
  height: 440px;
}
.legand
{
  margin: 15px 0px;
}
.holiday
{
    width: 75%;
    background-color: brown;
}
.holiday1
{
    width: 25%;
    background-color:black;
}
.attendance_header .add_filter .dropdown-menu {
    /*left: -20px!important;*/
}
.tooltip-inner {
    background-color: #fff;
    color: black;
    box-shadow: 0px 0px 10px #0F243F33;
    font-size: 13px;
}
.tooltip .tooltip-arrow {
border: none;

}
.tooltip-inner .title_time
{
   font-weight: bold;
}
.no_of_leaves
{
  padding-left: 57px !important;
}
.Working_days
{
  padding-left: 42px !important;
}
.no_of_present
{
  padding-left: 49px;
}
.Summary_section
{
  /*padding-top: 46px;*/
  padding-top: 15px;
}
.date_summary
{
  padding-left: 71px;
}
.in_summary
{
  padding-left: 101px;
}
.out_summary
{
  padding-left: 91px;
}
.working_summary
{
  padding-left: 44px;
}
.calender_section
{
  padding-right: 6px;
}

.calender_section #demo1 .custom-a11yselect-btn{
    background: #E9EFF6;
    border: 1px solid #E9EFF6;
    box-shadow: unset;
    font-weight: 700;
}

@media(min-width: 992px)
{
  .Export1
  {
    display: block;
  }
  .Export2
  {
    display:none;
  }
  .feedback-attach .text_update_feedback_fileList
  {
    padding-top: 12px;
  }
}
@media(max-width: 991px)
{
  .Export2
  {
    display:block;
  }
  .Export1
  {
    display: none;
  }
  .Summary_section
  {
    padding-top: 15px;
  }
}
.attendance_holiday:before
{
      position: absolute;
    content: '';
    left: 30px;
    border-top: solid 8px #098FB1;
    border-left: solid 8px #098FB1;
    border-top-left-radius: 5px;
    border-right: solid 7px transparent;
    border-bottom: solid 7px transparent;
    transform: rotate(90deg);

/*  position: absolute;
    content: '';
    left: 35px;
    top: 0px;
    border-top: solid 9px #098FB1;
    border-left: solid 9px #098FB1;
    border-top-left-radius: 5px;
    border-right: solid 9px transparent;
    border-bottom: solid 9px transparent;
    transform: rotate(91deg);
        border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px*/
}

.Summary_section p
{
      margin: 0 0 15px;
}
.holiday_section
{
background-color:#E88A20 !important;
}
.holiday_section:before
{
    position: absolute;
    content: '';
    top:0px;
    right: 0px;
    border-top: solid 10px #098FB1;
    border-left: solid 10px #098FB1;
    border-top-left-radius: 5px;
    border-right: solid 10px transparent;
    border-bottom: solid 10px transparent;
    transform: rotate(90deg);
   
}

.selected_date,.selected_user,.start_date,.end_date,.selected_inTime,.selected_outTime{
  display: none;
}

.processing_data {

 position: fixed;
    top: 0%;
    left: 50%;
    height: 30px;
    font-size: 15px !important;
    padding: 4px 15px 6px 15px;
    text-align: center;
    display: inline-block;
    z-index: 9999;
    border: 1px solid #e8b7b7;
    background-color: #fcf8e3;
    border-color: #faebcc;
    color: #9e7328 !important
   }

   .feedback_mesg_baground{
    background-color: #DDDDDD !important;
  padding: 6px 10px;
  border-radius: 5px;
  word-break: break-word;
   }
.feedback_file_attach{
  background: #E5EAF1 0% 0% no-repeat padding-box;
    border: 1px solid rgba(255, 255, 255, 1);
    /*background-color: #E5EAF1;*/
   margin-top: -15px;
   padding-bottom: 15px;
}

.data-alignment p{
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: -20px;
    margin-inline-end: 0px;
}

.text-muted {
    font-family: 'Roboto', sans-serif !important;
    color: #0f243f;
}
.text-muted span{
    margin: 5px 0px;
}
.small_text {
    color: #0f243f !important;
    font-weight: bold !important;
    margin-bottom: 2px;
    font-size: 10.2px
}

.pull-right {
    float: right!important;
    margin-block-end: 1em;
    margin-inline-end: 50px;
    
}

.stream-head-text1 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 335px;
    padding-left: 11px;
}
.stream-head-text-container {
    padding-left: 26px;
}

.image_align {
      margin-top: -55px;
      margin-inline-start: 30px;
      margin-top: 5px;
}

.feedback .file-upload-button,.feedback .post_btn{
  display:none;
}
.text_info{
      font-family: 'Roboto', sans-serif !important;
      margin-left: 5px;
      margin-top: -19px
      font-size:12px;

}
.feedback_text_info{
    font-family: 'Roboto', sans-serif !important;
    margin-left: 0px;
    margin-top: -9px;
    padding-left: 60px;
    font-size: 12px;
    color: #333333;
}
.imgs{
      margin-left: 40px;
      margin-top: -5px;
}

.imgs a{
      margin-left: 53px;
      margin-top: -5px;
      font-size: 12px;
      margin-left: 0px;
      padding-bottom: 20px
}
.feedback_alignment{
      margin-top: 10px;
}
.last_fb_section{
  border-bottom-left-radius: 15px;
 border-bottom-right-radius: 15px;
}

.user_font{
  font-family: 'Roboto', sans-serif !important;
   font-size: 12px;
   color:#0f243f;
}

.feedback .update_file-upload-button {
  display: inline-block;
}
.feedback_existing_append{
  padding-top: 10px;
}
.post_btn,.file-upload-button{
  margin-top: 5px;
  margin-bottom: 5px;
}
  
.processing_text{
  position: fixed;
    top: 0%;
    left: 50%;
    height: 30px;
    font-size: 15px !important;
    padding: 4px 15px 6px 15px;
    text-align: center;
    display: inline-block;
    z-index: 9999;
    border: 1px solid #68bb59;
    background-color: #d0f0c0;
    border-color: #d0f0c0;
    color: #68bb59 !important
}

.accept_feedback{
  margin-bottom: -35px;
}
.reviewer{
  margin-top: 10px;
}
#dailySheet_form .working_from_group .custom-a11yselect-container,
#update_dailySheet_form .update_working_from_group .custom-a11yselect-container
{
 margin-right: 0px !important;
}

/*#dailySheet_form .custom-a11yselect-container .custom-a11yselect-btn*/
#update_dailySheet_form .custom-a11yselect-container .custom-a11yselect-btn
{
  padding: 7px 28px 6px 10px
}
.has-error1
{
  border: 1px solid #ad4846 !important;
}


/* for pulgin start */

.select2-container--default .select2-selection--multiple
{
  border: 1px solid #E9EFF6 !important;
  border-radius: 5px !important;
  font-size: 13px !important;
}

/* for  pulgin end */

#dailySheet_form .fileList_text .file_list{
  padding-right: 10px !important;
  display: inline !important;
  cursor:pointer !important;
  font-size: 15px !important;
  vertical-align: middle !important; 
  margin-left:4px !important;
  color: #707070 !important;
}

.file_list .close_fileList{
    vertical-align: middle !important;
    padding-left: 3px !important;
    font-size: 15px !important;
  }

  .clone-panel .fileList_text{
    /*padding-top: 5px !important;*/
    padding-left: 0px;
    margin-bottom: 0px;
  }

  .fileList_text .create_attach_error{
    margin: 0px;
  }

  #dailySheet_review_form .text_review_file .file_list,#update_dailySheet_form .text_update_feedback_fileList .file_list{
    list-style-type: none;
    color: #707070;
    font-size: 14px;
    display: inline;
    word-break: break-word;
  }

@media (max-width: 767px)
{
  #create_form_span
  {
    display: none !important;
  }
}

@media(min-width: 992px) and (max-width: 1352px)
{
  .attendance_section .attendance_name,.Summary_section p
  {
    font-size: 12px;
  }
}

/* for galaxy fold */

@media(max-width:300px )
{
  .edit_attach .col-xs-2,.create_attach .col-xs-2
  {
    width: 25%;
  }
  .edit_attach .col-xs-10,.create_attach .col-xs-10
  {
    width: 75%;
  }
  .update_edit,.create_popup_section #dailySheet_form .edit
  {
    margin-top: 15px;
  }
}

@media(max-width: 767px)
{
  #myReviewModal .button_section_post .col-xs-5
  {
    width: 75px;
  }
  .mobile_view_review_attach
  {
    display: block;
  }
  .web_view_review_attach
  {
    display: none;
  }
  .mobile_view_review_attach .custom-file-upload .file-upload-button
  {
    display: none !important;
  }
  .create_attach .fileList
  {
    padding-top: 0px !important;
  }
  .create_edit_popup_section .update_clone-panel .update_fileList
  {
    padding-top: 15px !important;
  }


}
@media(min-width: 767px) and (max-width: 991px)
{
  #myReviewModal .button_section_post .col-sm-2
  {
    width: 75px;
  }
}
@media(min-width: 767px)
{
   .mobile_view_review_attach
  {
    display: none;
  }
  .web_view_review_attach
  {
    display: block;
  }

}

@media(max-width: 992px)
{
  .total-count
  {
    margin-top: 20px;
  }
}

@media(max-width: 320px)
{
  .ic__days td
  {
    padding:34px 4px 8px 0px !important;
  }
}

/* data table UI changes */

@media(max-width: 1200px)
{

  table.dataTable
  {
    width: 1000px !important;
  }
 
}
