.custom-a11yselect-container {
  /*margin-bottom:20px;*/
  margin-bottom:0px;
  position:relative;
  margin-right: 10px;
}
.custom-a11yselect-container .custom-a11yselect-btn {
    background: #E9EFF6;
    border: 1px solid #E9EFF6;
    border-radius: 5px;
    display: block;
    font-family: 'Roboto', sans-serif !important;
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 1.36;
    max-width: 100%;
    overflow: hidden;
    padding: 8px 28px 8px 10px;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

.custom-a11yselect-container .custom-a11yselect-btn:focus{
  outline: none;
}

.custom-a11yselect-container .custom-a11yselect-btn .custom-a11yselect-text {
  color:#333;
}
.custom-a11yselect-container i.custom-a11yselect-icon {
  content:'';
  height:0;
  line-height:1;
  pointer-events:none;
  position:absolute;
  right:15px;
  top:15px;
  width:0;
}

.custom-a11yselect-container #data_no-button{
  padding: 4px 29px 5px 11px !important;
}

.custom-a11yselect-container #data_no-button i.custom-a11yselect-icon{
  top:8px !important;
}

.custom-a11yselect-container i.custom-a11yselect-icon.icon-carrat-down {
  border-top:.3em solid #333;
  border-left:.3em solid transparent;
  border-right:.3em solid transparent;
}
.custom-a11yselect-container i.custom-a11yselect-icon.icon-carrat-up {
  border-bottom:.3em solid #333;
  border-left:.3em solid transparent;
  border-right:.3em solid transparent;
}
.custom-a11yselect-container .custom-a11yselect-menu {
  background:#fff;
  border-left:1px solid #ccc;
  border-right:1px solid #ccc;
  border-bottom:1px solid #ccc;
  display:none;
  left:0;
  margin:0;
  max-width:100%;
  padding:0px 0;
  position:absolute;
  top:100%;
  width:100%;
  z-index:5;
}
.custom-a11yselect-container .custom-a11yselect-menu.opened {
  display:block;
}
.custom-a11yselect-container .custom-a11yselect-menu.custom-a11yselect-overflow {
  max-height:235px; /* can be overriden by overlay parameter */
  overflow-x:hidden;
  overflow-y:auto;
}
.custom-a11yselect-container .custom-a11yselect-menu.custom-a11yselect-hidden {
  display:none !important;
}
.custom-a11yselect-container .custom-a11yselect-menu.custom-a11yselect-reversed {
  border-top:1px solid #ccc;
  border-bottom:none;
  bottom:100%;
  top:auto;
}
.custom-a11yselect-container .custom-a11yselect-menu .custom-a11yselect-option {
  display:block;
  margin-bottom: 3px;
}
.custom-a11yselect-container .custom-a11yselect-menu .custom-a11yselect-option button {
  background:#fff;
  border:none;
  color:#333;
  font-family:'Roboto', sans-serif !important;
  font-size:12px;
  font-style:normal;
  font-weight:normal;
  line-height:21px;
  padding:0px 15px;
  text-align:left;
  width:100%;
}

.custom-a11yselect-container .custom-a11yselect-menu .custom-a11yselect-option button:focus{
  outline:none;
} 

.custom-a11yselect-container .custom-a11yselect-menu .custom-a11yselect-option.custom-a11yselect-focused button {
  background:#EFF3F6;
  color:#0f243f;
}
.custom-a11yselect-container .custom-a11yselect-menu .custom-a11yselect-option.custom-a11yselect-selected button {
  font-weight:bold;
}
.custom-a11yselect-container .custom-a11yselect-menu .custom-a11yselect-option.custom-a11yselect-disabled button {
  background:#fff;
  color:#666;
  cursor:default;
}
.custom-a11yselect-container .custom-a11yselect-img {
  background-repeat:no-repeat;
  background-size:contain;
  display:inline-block;
  margin-right:10px;
  height:18px;
  width:18px;
  vertical-align: middle;
}
.custom-a11yselect-container select.custom-a11yselect-mobile {
  display:block !important;
  height:100% !important;
  left:0 !important;
  margin:0 !important;
  opacity:0 !important;
  padding:0 !important;
  position:absolute !important;
  top:0 !important;
  visibility: visible !important;
  width:100% !important;
  z-index:99999;
  -webkit-appearance: menulist-button !important;
  -moz-appearance: menulist-button !important;
  appearance: menulist-button !important;
}